@CHARSET "UTF-8";
/*
 * common css
 */

.bill-url {
    width: 800px;
}

/*
input file css
*/
input[type="file"] {
    display : inline-block;
}

/*
textarea css
*/
.bill_textarea_full {
    width : 100%;
    height : 150px;
}

table td {
    vertical-align:middle !important;
}

/*
table css
*/
.bill_table {
    float : left;
    width : 100%;
    /*table-layout:fixed;*/
    word-break:break-all;
}

.bill_table_no_data {
    text-align : center;
    color: #ff0000;
    font-weight: bold;
}

.bill_cursor_pointer {
    cursor: pointer;
}

.bill_font_bold_red {
    font-weight: bold;
    color: #ff0000;
}

.bill_font_bold_green {
    font-weight: bold;
    color: #008000;
}

/*
google map canvas css
*/
.bill-google-map-canvas {
    width: 600px;
    height: 600px;
    margin-top:10px;
    border:1px solid gray;
    float:left;
}

.bill-margin-left {
    margin-left: 10px;
}

.bill-chart-canvas {
    width: 500px;
    height: 300px;
    float: left;
}

/*
bootstrap modal css
*/
.bill_modal_lg {
    width : 900px;
    height : 500px;
    margin-top : 50px;
}

.bill_modal_md {
    width : 500px;
    height : 500px;
    margin-top : 50px;
}

.bill_modal_sm {
    width : 300px;
    height : 500px;
    margin-top : 50px;
}